.footer-btn {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(var(--semi-grey-0), 0.2);
    padding: 3px;
    border-radius: 20px;
    .avatar {
        margin-right: 10px;
    }
    .github {
        margin-left: 10px;
    }
}
