.layout-sider {
    .semi-navigation-list-wrapper {
        height: 86%;
    }

    .nav-sub {
        font-weight: bold;
        padding: 10px 0;
        font-size: 14px;
        color: var(--semi-color-text-0);
    }
}
