.layout-sider {
    .semi-navigation-list-wrapper {
        height: calc(100% - 130px);
        padding-top: 0px;
        margin-top: 65px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &-header {
        padding: 15px 5px !important;
        position: absolute;
        top: 0;
    }

    &-nav-content {
        .nav-sub {
            font-weight: bold;
            padding: 10px 0;
            font-size: 14px;
            color: var(--semi-color-text-0);
        }
    }

    &-footer {
        position: absolute;
        bottom: 0;
    }
}
