.article-template-wrap {
    display: flex;
    justify-content: center;

    .article-template-space {
        margin: 10px;
    }

    .article-template-list {
        width: 100%;
        .semi-list-item-body-main {
            width: 100%;
        }

        .template-item {
            &-main {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            &:hover {
                background-color: rgba(var(--semi-grey-0));
            }
        }
    }
    .article-template-preview {
        width: 900px;
        margin: auto;
    }
}
